/* VARIABLES */
/* MIXINS */
/* common styles */
body {
  background: #e9eaec url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAMAAABL52QCAAAABlBMVEXCw8Tp6uwFw7MwAAAAF0lEQVR4AWNgYAQCCMEAIoAQgkA8/LIABOwAKWIaZEkAAAAASUVORK5CYII=);
  font-family: "Roboto", sans-serif; }

/* MAIN STYLES */
#wrapper {
  width: 100%; }

/*MAINNNNN*/
.no-gaps-inline-block {
  font-size: 0; }
