* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 0;
}

html {
  height: 100%;
  font-family: sans-serif;
}

/* COLORS */
/* SIZING and calc */
.mainmenu_link {
  font-size: 16px;
}

.wrapper {
  display: block;
  width: 100%;
  height: 100%;
}

.wraphead {
  display: block;
  width: 100%;
  background-color: #1f3948;
}

/* initial */
#header {
  width: 920px;
  margin: 0 auto;
}

/* initial */
#mainmenu {
  display: block;
  list-style: none;
}

#mainmenu_button {
  display: none;
}

.mainmenu_item {
  display: inline-block;
  vertical-align: top;
}

.mainmenu_link {
  color: #e9eaec;
}

/* mark */
/* initial */
/* initial */
/* initial */
/* initial */
/* initial */
/* initial */
