doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="css/main.css")
    title Portfolio
  body
    .wrapper
			.wraphead
				include section_header.jade
			.wrapmain
				main#main
          include section_about.jade
          include section_photo.jade
          include section_design.jade
          include section_frontend.jade
          include section_backend.jade
          include section_contact.jade
			.wrapfoot
				include section_footer.jade