nav#mainmenu
	#mainmenu_button
	ul#mainmenu_list
		li.mainmenu_item
			a.mainmenu_link(target="_blank" href="#") About
		li.mainmenu_item
			a.mainmenu_link(target="_blank" href="#") Photo
		li.mainmenu_item
			a.mainmenu_link(target="_blank" href="#") Design
		li.mainmenu_item
			a.mainmenu_link(target="_blank" href="#") Frontend
		li.mainmenu_item
			a.mainmenu_link(target="_blank" href="#") Backend