nav#mainmenu
	#mainmenu_button
	ul#mainmenu_list
		li.mainmenu_item
			a.mainmenu_link(target="_blank" href="#") Lifeline
		li.mainmenu_item
			a.mainmenu_link(target="_blank" href="#") Gallery
		li.mainmenu_item
			a.mainmenu_link(target="_blank" href="#") Articles
		li.mainmenu_item
			a.mainmenu_link(target="_blank" href="#") Portfolio