/* initial */
#header {
	width: 920px;
	margin: 0 auto;
}
#logo {}
.menuwrap {}
.options {}
#lang {
	display: inline-block;
	vertical-align: top;
	color: $color-bgdark;
	background: $color-dark;
	font-size: $basic*.8;
	margin: $basic/4;
	padding: $basic/4 $basic/2;
}