/* initial */
#header {
	width: 920px;
	margin: 0 auto;
}
#logo {
	display: inline-block;
	vertical-align: top;
	height: 7vh;
	width: 12vw;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin: $basic/4;
	//outline: $test;
}
.menuwrap {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	width: calc(920px - 13vw);
}
.map, .email, .home {
	display: inline-block;
	vertical-align: top;
	color: $color-bgdark;
	//outline: $test;
	padding: $basic/4 $basic/2;
}
#lang {
	display: inline-block;
	vertical-align: top;
	color: $color-bgdark;
	background: $color-dark;
	padding: $basic/4 $basic/2;
	//outline: $test;
}